.first {
  background-color: #0e5e2f;
  color: white;
}

.title {
  font-size: 5rem;
}

.subtitle {
  color: #f3ff6f;
}

.icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 10px;
}
